nav {
  padding: 0 0 0 100px;
  position: fixed;
}
nav li {
  margin: 0 20px 0 0;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}
.logo span {
  width: 50%;
  font-size: 50px;
  margin: 0 150px 0 0;
}

.header-div {
  background-image: url(https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #fff;
}
.header-div span {
  border: 4px solid #4d91ff;
  padding: 0 70px 0 0;
  border-left: none;
  border-right: none;
  border-top: none;
}
.header-div h1 {
  margin: 25px 0 0 0;
}
.header-div p {
  font-size: 1.5rem;
  margin: 15px 0 25px 0;
}
.header-div a {
  text-decoration: none;
  color: #fff;
  background-color: #4d91ff;
  padding: 10px 15px;
}
.header-div .black {
  width: 100%;
  height: 100%;
  padding: 150px 250px;
  background: rgba(6, 7, 6, 0.671);
}

.inp {
  text-align: center;
  background: rgba(6, 7, 6, 0.671);
  border: 5px solid #4d91ff;
  border-right: none;
  border-left: none;
  border-top: none;
}
.inp button {
  text-decoration: none;
  background-color: #4d91ff;
  padding: 10px 40px;
  color: #fff;
}
.inp input {
  padding: 10px 0;
  outline: none;
}

.gallery {
  padding: 50px 0 0 0;
}
.gallery .head-div {
  margin: auto;
  text-align: center;
  width: 100%;
}
.gallery .head-div a {
  display: block;
  margin: 0 0 15px 0;
  text-decoration: none;
}
.gallery .head-div p {
  font-weight: bold;
  font-size: 1.3rem;
}
.gallery .gallery-div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 50px;
}
.gallery .gallery-div .pic {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding: 20px 20px;
}
.gallery .gallery-div .pic h4 {
  color: #fff;
  width: 80%;
  font-size: 1.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px 0 0 0;
  backdrop-filter: blur(5px);
}
.gallery .gallery-div .pic span {
  font-size: 30px;
  width: 20%;
  color: #fff;
  backdrop-filter: blur(5px);
}
.gallery .gallery-div .pic p {
  color: #b8b4b4;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  backdrop-filter: blur(5px);
}
.gallery .gallery-div .img {
  width: 20%;
  padding: 10px 10px;
}
.gallery .gallery-div .img img {
  width: 100%;
  border-radius: 15px;
  background: rgba(6, 7, 6, 0.671);
}
.gallery .circle {
  margin: 25px 0 50px 0;
  text-align: center;
}
.gallery .circle span:nth-child(1) {
  color: #4d91ff;
}

.stars {
  background-color: #f0e8e8;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-wrap: wrap;
}
.stars .stars-div {
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 0 0 25px 0;
}
.stars .stars-div a {
  display: block;
  margin: 0 0 15px 0;
  text-decoration: none;
}
.stars .stars-div p {
  font-weight: bold;
  font-size: 1.3rem;
}
.stars .divizion {
  width: 33.33%;
  border-radius: 15px;
  position: relative;
  padding: 0 25px;
}
.stars .divizion img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  box-shadow: 5px 3px 5px grey;
}
.stars .divizion .texting {
  padding: 20px 20px 20px 20px;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  box-shadow: 5px 3px 5px grey;
}
.stars .divizion .texting a {
  text-decoration: none;
}
.stars .divizion .texting p {
  color: #b8b4b4;
}
.stars .divizion .texting span {
  color: #b8b4b4;
  padding: 10px 2px;
  border: 1px solid grey;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.stars .divizion .sun {
  position: absolute;
  top: 20px;
  left: 50px;
}
.stars .divizion .sun span {
  color: #fff;
}
.stars .divizion .moon {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #4d91ff;
  padding: 30px;
  border-radius: 50%;
}
.stars .divizion .moon h1 {
  font-size: 1rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
}
.stars .divizion .moon h2 {
  font-size: 0.7rem;
  color: #fff;
}

.icon {
  padding: 50px 150px;
  display: flex;
  flex-wrap: wrap;
}
.icon .icon-div {
  margin: auto;
  text-align: center;
  width: 100%;
}
.icon .icon-div a {
  display: block;
  margin: 0 0 15px 0;
  text-decoration: none;
}
.icon .icon-div p {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 50px 0;
}
.icon .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;
}
.icon .container .content {
  width: 30%;
  padding: 50px 25px;
  margin: 0 35px 0 0;
  border: 1px solid #b8b4b4;
  border-radius: 15px;
}
.icon .container .content span {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  color: #4d91ff;
}
.icon .container .content h5 {
  text-align: center;
}
.icon .container .content p {
  text-align: center;
}
.icon .space {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  border-top: 1px solid #b8b4b4;
}
.icon .space .text-space {
  padding: 50px;
  width: 50%;
}
.icon .space .text-space p {
  color: #b8b4b4;
  margin: 20px 0 30px 0;
}
.icon .space .text-space a {
  text-decoration: none;
  background-color: #4d91ff;
  padding: 10px 40px;
  color: #fff;
}
.icon .head-space {
  width: 50%;
  padding: 50px;
}
.icon .head-space h5 {
  padding: 20px 10px;
  border: 1px solid #b8b4b4;
  margin-block-start: 0;
  margin-block-end: 0;
}
.icon .head-space h5 span {
  font-size: 15px;
  display: inline-block;
  margin-left: 200px;
  text-align: right;
  color: #4d91ff;
}
.icon .head-space p {
  padding: 20px 10px;
  border: 1px solid #b8b4b4;
  margin-block-start: 0;
  margin-block-end: 0;
}

.video {
  background-image: url(https://cdn.pixabay.com/photo/2021/11/08/23/29/nature-6780354_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video .video-div {
  width: 100%;
  height: 100%;
  padding: 150px;
  background: rgba(6, 7, 6, 0.671);
}
.video .video-div .play {
  margin: auto;
  text-align: center;
  width: 100%;
  color: #fff;
}
.video .video-div .play span {
  font-size: 50px;
  transition: all 0.5s linear;
}
.video .video-div .play span:hover {
  color: #4d91ff;
}

.abbs {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.abbs .card-div {
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 0 0 50px 0;
}
.abbs .card-div a {
  display: block;
  margin: 0 0 15px 0;
  text-decoration: none;
}
.abbs .card-div p {
  font-weight: bold;
  font-size: 1.3rem;
}
.abbs .price {
  width: 30%;
  background-color: #4d91ff;
  border-radius: 15px;
  margin: 0 42px 0 0;
}
.abbs .price .price-div {
  text-align: center;
  color: #fff;
  padding: 20px;
}
.abbs .price .second-price {
  text-align: center;
  background-color: #f0e8e8;
  border-radius: 0 0 15px 15px;
  padding: 30px;
}
.abbs .price .second-price p {
  font-weight: bold;
  margin: 0 0 30px 0;
}
.abbs .price .second-price a {
  text-decoration: none;
  background-color: #4d91ff;
  padding: 10px 40px;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
